<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid">
   
    
    <form class="d-flex">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form><button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="offcanvas offcanvas-start"
      tabindex="1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Dashboard</h5>
        <button
          type="button"
          class="btn-close text-reset"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>

      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-0 pe-3">
          <li class="nav-item dropdown">
            <a
              class="nav-link item dropdown-toggle"
              href="#"
              id="dropdownId"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >MATHEMATICS</a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
              <a
                class="dropdown-item"
                href="/questionPortal/mathematics"
              >Objective</a>
              <a class="dropdown-item" href="#">
                <span
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Coming ??? soon..."
                >
                  Theory
                </span></a>
            </div></li>
          <li class="nav-item dropdown">
            <a
              class="nav-link item dropdown-toggle"
              href="#"
              id="dropdownId"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >GEOGRAPHY</a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
              <a
                class="dropdown-item"
                href="/questionPortal/geography"
              >Objective</a>
              <a class="dropdown-item" href="#">
                <span
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Coming ??? soon..."
                >
                  Theory
                </span></a>
            </div></li>
          <li class="nav-item dropdown">
            <a
              class="nav-link item dropdown-toggle"
              href="#"
              id="dropdownId"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >SCIENCE</a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
              <a
                class="dropdown-item"
                href="/questionPortal/science?sci=1"
              >Objective</a>
              <a class="dropdown-item" href="#">Theory</a>
            </div></li>
          <li class="nav-item dropdown">
            <a
              class="nav-link item dropdown-toggle"
              href="#"
              id="dropdownId"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >PHYSICS</a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
              <a
                class="dropdown-item"
                href="/questionPortal/physics"
              >Objective</a>
              <a class="dropdown-item" href="#">
                <span
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Coming ??? soon..."
                >
                  Theory
                </span></a>
            </div></li>
          <li class="nav-item dropdown">
            <a
              class="nav-link item dropdown-toggle"
              href="#"
              id="dropdownId"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >CHEMISTRY</a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
              <a
                class="dropdown-item"
                href="/questionPortal/chemistry"
              >Objective</a>
              <a class="dropdown-item" href="#">
                <span
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Coming ??? soon..."
                >
                  Theory
                </span></a>
            </div></li>
          <li class="nav-item dropdown">
            <a
              class="nav-link item dropdown-toggle"
              href="#"
              id="dropdownId"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >ECONOMICS</a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
              <a
                class="dropdown-item"
                href="/questionPortal/economics"
              >Objective</a>
              <a class="dropdown-item" href="#">
                <span
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Coming ??? soon..."
                >
                  Theory
                </span></a>
            </div></li>

        </ul>

      </div>
    </div>
  </div>
</nav>