<footer>
    <div class="footImg">
       
        <ul class="footList">
            <li><u>About</u></li>
            <li> We serve the world of programing</li>
            <li> We create to solve the world problems</li>
            <li></li>
            <li></li>
        </ul>
       
        <ul class="footList">
            <li><u>Contact us</u></li>
            <li>Via: agbomishael@gmail99.com</li>
            <li>+233278121696</li>
            <li></li>
            <li></li>
        </ul>
        
        <ul class="footList">
            <li><u>Services</u></li>
            <li>Web Designing</li>
            <li>Web Creation</li>
            <li>App Analysis</li>
            <li></li>
        </ul>
        
       
        <ul class="footList">
            <li>News Letter</li>
            <li>
                <form class="form" method="post">
                    <input type="email" style="border: 3px solid orange; border-top-left-radius:5vh ;
    border-bottom-right-radius: 5vh;"  placeholder="email">
    <br><button type="submit" style="border-radius: 3vh;float:right;">submit</button>
         </form>
            </li>

            <li><marquee behavior="scale" direction="left">
                Thank you for testing our Quiz App
            </marquee></li>
            <li></li>
        </ul>
        
    </div>
    <div class="copy">Copyright &copy; reversed 2022.   Build and Designed by Codecamps.tech</div>
</footer>