
<div class="inner_page"><!-- Nav tabs -->
        <h3 >
            <center class="header" id="option1">TOPIC</center> 
        </h3>
    
    <ul class="nav flex-column" >
    <li class="nav-item">
        <a href="#tab1Id"id="option2" onclick="general()" class="nav-link active  font" data-bs-toggle="tab">Manu Option</a>
    </li>
   
    <li class="nav-item" role="presentation">
        <a href="#tab5Id" onclick="Algebral()" id="option3"class="nav-link font" data-bs-toggle="tab"> Manu Option</a>
    </li>
    <li class="nav-item" role="presentation">
        <a href="#"onclick="linear()" class="nav-link font "id="option4" data-bs-toggle="tab">Manu Option</a>
    </li>
    <li class="nav-item" role="presentation">
        <a href="#"onclick="varation()" class="nav-link font"id="option5" data-bs-toggle="tab">Manu Option</a>
    </li>
    <li class="nav-item" role="presentation">
        <a href="#"onclick="series()" class="nav-link font"id="option6" data-bs-toggle="tab">Manu Option</a>
    </li>
    <li class="nav-item" role="presentation">
        <a href="#"onclick="stars()" class="nav-link font"id="option7" data-bs-toggle="tab">Manu Option</a>
    </li>
    <li class="nav-item" role="presentation">
        <a href="#"onclick="mens()" class="nav-link font"id="option8" data-bs-toggle="tab">Manu Option</a>
    </li>
    <li class="nav-item" role="presentation">
        <a href="#" onclick="trig()" class="nav-link font"id="option9" data-bs-toggle="tab">Manu Option</a>
    </li>
    <li class="nav-item" role="presentation">
        <a href="#"onclick="percent()" class="nav-link font"id="option10" data-bs-toggle="tab">Manu Option</a>
    </li>
    <li class="nav-item" role="presentation">
        <a href="#" onclick="rigid()"class="nav-link font"id="option11" data-bs-toggle="tab">Manu Option</a>
    </li>
</ul>
</div>