<div class=" manu-container">
  <div class="row">
    <div class="col-sm-2 gy-sm-3 bg-dark ">
      {{>manu}}
        </div>

    <div class="col-sm-9 mt-0" ><div class="main-content">
      <div class="subtopic"></div>
        <div class="inner_page " id="resultScore">
          <ul id="quesOption">
            <li>
              <h2 class="questions">Question Option</h2>
            </li>
            <li>
              <input class="answers" type="radio" name="answers" id="option1" />
              <label for="options1" id="ans1"> Answer Option</label>
            </li>
            <li>
              <input class="answers" type="radio" name="answers" id="option2" />
              <label for="options2" id="ans2"> Answer Option</label>
            </li>
            <li>
              <input class="answers" type="radio" name="answers" id="option3" />
              <label for="options3" id="ans3">Answer Option</label>
            </li>
            <li>
              <input class="answers" type="radio" name="answers" id="option4" />
              <label for="options4" id="ans4">Answer Option</label>
            </li>
          </ul>
          <div class="bt">
          <button class="submit"  onclick="checkFun()">Next</button>
          </div>
        </div>

      </div></div>

  </div>
</div>