*,*::after,*::before{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    background-position: center;
    background-color: #7fffd4;
    background-size: cover;
    overflow: hidden;
}
.main-content{
    display: grid;
    place-content: center;
    margin: 8rem 2rem;
    background-color: aliceblue;
    padding: 3rem 2rem;
    box-shadow: inset 6px 4px rgba(0,0, 0.9,0.5),
                inset 12px 8px rgba(0,0, 0.9,0.2);
    border: none;
    outline: none;
    border-radius: 5vh;
}
.inner_page ul{
display: grid;
place-content: left space-between;
flex-direction: column;
margin-left :5px ;
list-style: none;
}
.inner_page ul li h2  {
margin: 10px;

}
.inner_page ul li input  {
margin: 10px;

}
.inner_page .submit{
    float: right;
    padding: 4px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 6px 4px rgba(0,0, 0.9,0.2);
}
.nav-pills{
    margin: 10rem 1rem !important;
}
.nav-pillser{
    margin: 3rem 1rem !important;
}
  .header{
    color: antiquewhite;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid silver;
    margin-top: 12vh;
    margin-bottom: 4vh;
}
.manu-container{
    width: 100%;
}

.font{
    font-size:large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: azure;
}
.message{
    font-size: x-large;
    font-weight: bolder;
    border-radius: 5vh; 
}
.counter{
    color: red;
    border: 4px solid black;
    width: fit-content;
    border-radius: 3vh;
    padding: 1rem 5rem;
}
.try_again a{
    float: right;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}